.main-app {
    text-align: center;
    margin: 100px;
}

.cta-button {
    padding: 15px;
    border: none;
    border-radius: 12px;
    min-width: 250px;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

.connect-wallet-button {
    background: rgb(32, 129, 226);
}

.interact-with-blockchain {
    background: orange;
}

.interact-with-server {
    background: green;
}

.interact-with-browser {
    background: lightskyblue;
}

form {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.field {
    display: flex;
    justify-content: space-between;
}

.address {
    font-size: 9pt;
}
